body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #f8f8f8;
}

.dashboard {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 80px;
  background-color: #333;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.sidebar-item {
  margin-bottom: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 34px;
}

/* Navbar styles */
* {
  text-decoration: none;
}

.navbar {
  font-family: calibri;
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  align-items: center;
}

.navbar span {
  text-decoration: none;
  color: black;
  padding-left: 10px;

  font-size: 20px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}

.navbar a {
  text-decoration: none;
  color: black;
  padding-left: 10px;
  padding-right: 25px;
  padding-left: 35px;
  align-items: flex-start;
  justify-content: flex-end;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}


.navdiv {
  margin-bottom: 10px;
  background: rgb(232, 232, 232);
  display: flex;
  border-radius: 100px;
  justify-content: space-around;
}

.logo a {
  font-size: 35px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}

.navdiv a:hover {
  color: rgb(2, 79, 245);
}

li {
  list-style: none;
  display: inline-block;
  justify-content: space-around;
}

li a {
  color: rgb(55, 55, 55);
  font-size: 18px;
  font-weight: bold;
  margin-right: 25px;
}

button a {
  color: rgb(179, 179, 179);
  font-weight: bold;
  font-size: 15px;
}


/* Main Content styles */
.content {
  flex: 1;
  padding: 20px;
  overflow: hidden;
}

/* Video Player styles */
.main-content {
  width: 100%;
  height: 100%;
}

.videoabar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.videoabar .vlphoto {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.videoabar .videooption {
  display: flex;
  flex-direction: column;
  background: rgb(231, 231, 231);
  border-radius: 100px;
}

iframe{
  border-radius: 20px;
}